body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background: #8c082c;
  font-weight: bold;
  color: white;
  text-align: center;
}

.container {
  margin: 100px auto;
  border: 5px solid #f2af5c;
  max-width: 400px;
  padding: 10px;
}

h1 {
  color: #f2af5c;
}

#message-el {
  font-style: italic;
}

button {
  color: #8c082c;
  width: 150px;
  background: #f2af5c;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
}

button:hover {
  color: #f2af5c;
  background: #8c082c;
}
